{% extends 'base.html.twig' %}

{% block title %}Hello AccountPageController!{% endblock %}

{% block body %}

<h2>Information utilisateur</h2>

<ul>
    {% for user in user %}
        <li>{{ user.username|e }}</li>
        <li>{{user.email}}</li>
        <li>{{user.password}}</li>
    {% endfor %}
</ul>
<br>

    <h2>Modifier vos informations</h2>
    {{ form_start(formUser) }}
        {{ form_widget(formUser) }}
        <button type="submit">Mettre à jour les informations</button>
    {{ form_end(formUser) }}
<br>
    <h2>Changer le mot de passe</h2>
    {{ form_start(formPassword) }}
        {{ form_widget(formPassword) }}
        <button type="submit">Changer le mot de passe</button>
    {{ form_end(formPassword) }}

<br>

<h2>Porte monnaie</h2>

<h2>Gérer le porte-monnaie</h2>

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

{{ form_start(walletForm) }}
    {{ form_widget(walletForm) }}
    <button type="submit">Valider</button>
{{ form_end(walletForm) }}
<br>

{% for user in user %}
        <li>{{user.wallet}} €</li>
{% endfor %}

<br>

<h2>Log out</h2>

<a href="{{ path('app_logout') }}">Logout</a>

{% endblock %}
