{% extends 'base.html.twig' %}

{% block title %}Mes Offres{% endblock %}

{% block body %}
    <style>
        .offer-container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        .offer-box {
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #f9f9f9;
        }

        .offer-details{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .offer-product-image {
            width: 30%;
        }
        .offer-product-image img{
            width: 100%;
        }

        .offer-product-info{
            display: flex;
            flex-direction: column;

            width: 30%;
        }

        .offer-product-title{
            font-size: 2em;
            font-weight: bold;
        }

        .offer-buyer{
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .offer-buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
        }

        .btn {
            padding: 10px;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }

        .btn-reject {
            background-color: #d9534f;
        }

        .btn-accept {
            background-color: #5cb85c;
        }

        .unavailable{
            opacity: 70%;
        }

        .alert {
            color: red;
        }

    </style>
    <h1>Mes offres</h1>
    <div class="offer-container">
        {% for offer in offerList %}
                <div class="offer-box {% if offer.status %}unavailable{% endif %}">
                    <div class="offer-details">
                        <div class="offer-product-image">
                            <img src="{{ offer.products.imageUrl }}" alt="image du produit">
                        </div>
                        <div class="offer-product-info">
                            <div class="offer-product-title">
                                {{ offer.products.title }}
                            </div>
                            <div class="offer-prices">
                                <del>{{ offer.products.price|number_format(2, '.', ' ') }} €</del>
                                <p>{{ offer.price|number_format(2, '.', ' ') }} €</p>
                            </div>
                        </div>
                        <div class="offer-buyer">
                            Offre proposé par <a href="{{ path('app_user', {'id' : offer.products.users.id}) }}">{{ offer.products.users.username }}</a>
                        </div>
                    </div>
                    <div class="offer-buttons">
                        {% if not order.status %}
                        <form action="{{ path('app_my_offer_delete', {'id': offer.id}) }}" method="post" style="display:inline-block;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete-offer-' ~ offer.id) }}">
                            <button class="btn btn-reject" type="submit">Refuser Offre</button>
                        </form>
                        <form action="{{ path('app_my_offer_confirm', {'offer': offer.id}) }}" method="post" style="display:inline-block;">
                            <input type="hidden" name="_token" value="{{ csrf_token('confirm-offer-' ~ offer.id) }}">
                            <button class="btn btn-accept" type="submit">Accepter Offre</button>
                        </form>
                        {% else %}
                           Offre acceptée
                        {% endif %}
                    </div>
                </div>
        {% endfor %}
    </div>
    <h1>Mes Commande</h1>
    <div class="offer-container">
        {% for order in orderList %}
                <div class="offer-box {% if order.status %}unavailable{% endif %}">
                    <div class="offer-details">
                        <div class="offer-product-image">
                            <img src="{{ order.products.imageUrl }}" alt="image du produit">
                        </div>
                        <div class="offer-product-info">
                            <div class="offer-product-title">
                                {{ order.products.title }}
                            </div>
                            <div class="offer-prices">
                                <p>{{ order.amount|number_format(2, '.', ' ') }} €</p>
                            </div>
                        </div>
                        <div class="offer-buyer">
                            <span>Commandé a <a href="{{ path('app_user', {'id' : order.products.users.id}) }}">{{ order.products.users.username }}</a></span>
                            {% for message in app.flashes('errorPayment') %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="offer-buttons">
                        {% if not order.status %}
                        <form action="{{ path('app_my_order_delete', {'id': order.id}) }}" method="post" style="display:inline-block;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete-order-' ~ order.id) }}">
                            <button class="btn btn-reject" type="submit">Annuler la commande</button>
                        </form>
                        <form action="{{ path('app_my_order_confirm', {'order': order.id}) }}" method="post" style="display:inline-block;">
                            <input type="hidden" name="_token" value="{{ csrf_token('confirm-order-' ~ order.id) }}">
                            <button class="btn btn-accept" type="submit">Payer</button>
                        </form>
                        {% else %}
                            Commande effectuée
                        {% endif %}
                    </div>

                </div>
        {% endfor %}
    </div>
{% endblock %}
